In [2]:
cd e:

E:\

In [6]:
import pandas as pd

In [9]:
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [10]:
 pd.read_table('examples/ex1.csv', sep=',')

E:\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [11]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [12]:
pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('examples/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [15]:
parsed = pd.read_csv('examples/csv_mindex.csv',
....: index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [16]:
 list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [17]:
result = pd.read_table('examples/ex3.txt', sep='\s+')
result

E:\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [18]:
result = pd.read_csv('examples/ex5.csv')

In [19]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [20]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [21]:
result = pd.read_csv('examples/ex5.csv', na_values=['NULL'])

In [22]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [23]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('examples/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [24]:
pd.options.display.max_rows = 10

In [25]:
 result = pd.read_csv('examples/ex6.csv')

In [26]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [27]:
pd.read_csv('examples/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [28]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)
chunker

In [31]:
tot = pd.Series([])
for piece in chunker:
  tot = tot.add(piece['key'].value_counts(),fill_value=0)
tot = tot.sort_values(ascending=False)

In [32]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [33]:
data = pd.read_csv('examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [34]:
data.to_csv('examples/out.csv')

In [35]:
import sys

In [36]:
data.to_csv(sys.stdout, sep='|')  #输出到屏幕

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [37]:
 data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [38]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [39]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [41]:
import numpy as np
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('examples/tseries.csv')

E:\anaconda\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  after removing the cwd from sys.path.

In [42]:
import csv
f = open('examples/ex7.csv')
reader = csv.reader(f)

In [69]:
for line in reader:
....:  print(line)

ValueError: I/O operation on closed file.

In [79]:
with open('examples/ex7.csv') as f:
....:  lines = list(csv.reader(f))

In [47]:
header, values = lines[0], lines[1:]

In [48]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [104]:
class my_dialect(csv.Dialect):
 lineterminator = '\n'
 delimiter = ';'
 quotechar = '"'
 quoting = csv.QUOTE_MINIMAL
with open('examples/ex7.csv') as f:
 lines = list(csv.reader(f,dialect=my_dialect))
 print(lines)

[['a,"b","c"'], ['1,"2","3"'], ['1,"2","3"']]

In [111]:
with open('examples/ex7.csv') as f:
 lines = list(csv.reader(f, delimiter='|'))
 print(lines)

[['a,"b","c"'], ['1,"2","3"'], ['1,"2","3"']]

In [115]:
with open('mydata.csv', 'w') as f:
 writer = csv.writer(f, dialect=my_dialect)
 writer.writerow(('one', 'two', 'three'))
 writer.writerow(('1', '2', '3'))
 writer.writerow(('4', '5', '6'))
 writer.writerow(('7', '8', '9'))
result = pd.read_csv('mydata.csv',sep=';')
result

   one  two  three
0    1    2      3
1    4    5      6
2    7    8      9

In [119]:
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}
"""
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [121]:
asjson = json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [122]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

In [123]:
data = pd.read_json('examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [129]:
print(data.to_json())
{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

{'a': {'0': 1, '1': 4, '2': 7},
 'b': {'0': 2, '1': 5, '2': 8},
 'c': {'0': 3, '1': 6, '2': 9}}

In [132]:
 print(data.to_json(orient='records'))
[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

[{'a': 1, 'b': 2, 'c': 3}, {'a': 4, 'b': 5, 'c': 6}, {'a': 7, 'b': 8, 'c': 9}]

In [134]:
tables = pd.read_html('examples/fdic_failed_bank_list.html')
len(tables)
tables

[                             Bank Name             City  ST   CERT  \
 0                          Allied Bank         Mulberry  AR     91
 1         The Woodbury Banking Company         Woodbury  GA  11297
 2               First CornerStone Bank  King of Prussia  PA  35312
 3                   Trust Company Bank          Memphis  TN   9956
 4           North Milwaukee State Bank        Milwaukee  WI  20364
 ..                                 ...              ...  ..    ...
 542                 Superior Bank, FSB         Hinsdale  IL  32646
 543                Malta National Bank            Malta  OH   6629
 544    First Alliance Bank & Trust Co.       Manchester  NH  34264
 545  National State Bank of Metropolis       Metropolis  IL   3815
 546                   Bank of Honolulu         Honolulu  HI  21029

                    Acquiring Institution        Closing Date  \
 0                           Today's Bank  September 23, 2016
 1                            United Bank     August 19, 2016
 2    First-Citizens Bank & Trust Company         May 6, 2016
 3             The Bank of Fayette County      April 29, 2016
 4    First-Citizens Bank & Trust Company      March 11, 2016
 ..                                   ...                 ...
 542                Superior Federal, FSB       July 27, 2001
 543                    North Valley Bank         May 3, 2001
 544  Southern New Hampshire Bank & Trust    February 2, 2001
 545              Banterra Bank of Marion   December 14, 2000
 546                   Bank of the Orient    October 13, 2000

           Updated Date
 0    November 17, 2016
 1    November 17, 2016
 2    September 6, 2016
 3    September 6, 2016
 4        June 16, 2016
 ..                 ...
 542    August 19, 2014
 543  November 18, 2002
 544  February 18, 2003
 545     March 17, 2005
 546     March 17, 2005

 [547 rows x 7 columns]]

In [139]:
failures = tables[0]
failures.head()
failures

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"
...,...,...,...,...,...,...,...
542,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
543,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
544,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
545,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
546,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [140]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, Length: 15, dtype: int64

In [144]:
from lxml import objectify
path = 'examples/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()
root

In [149]:
data = []
skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
'DESIRED_CHANGE', 'DECIMAL_PLACES']
for elt in root.INDICATOR:
 el_data = {}
 for child in elt.getchildren():
  if child.tag in skip_fields:
   continue
  el_data[child.tag] = child.pyval
 data.append(el_data)

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,1,2008,96.9,95
1,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,95,2,2008,96,95
2,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,3,2008,96.3,95
3,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.3,95,4,2008,96.8,95
4,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.8,95,5,2008,96.6,95

In [150]:
perf = pd.DataFrame(data)
perf.head()

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,1,2008,96.9,95
1,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,95,2,2008,96,95
2,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,3,2008,96.3,95
3,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.3,95,4,2008,96.8,95
4,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.8,95,5,2008,96.6,95

In [152]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()
root

In [153]:
root.get('href')

'http://www.google.com'

In [154]:
root.text

'Google'

In [155]:
 frame = pd.read_csv('examples/ex1.csv')
 frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [157]:
frame.to_pickle('examples/frame_pickle')
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [158]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [164]:
store['obj1']

           a
0  -0.844736
1  -1.276825
2  -1.247798
3   0.586132
4  -0.139251
..       ...
95 -0.566565
96 -1.334576
97 -1.079289
98 -0.453867
99 -0.378671

[100 rows x 1 columns]

In [167]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])

           a
10  0.740839
11 -1.570282
12 -0.561358
13 -0.118494
14  0.527195
15 -0.829126

In [168]:
 store.close()

In [169]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

          a
0 -0.844736
1 -1.276825
2 -1.247798
3  0.586132
4 -0.139251

In [170]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [171]:
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [172]:
writer = pd.ExcelWriter('examples/ex2.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()
frame.to_excel('examples/ex2.xlsx')  #和上面作用相同

In [173]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [179]:
data = resp.json()
data[0]['title']
data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27863',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27863/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27863/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27863/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/27863',
  'id': 479464989,
  'node_id': 'MDU6SXNzdWU0Nzk0NjQ5ODk=',
  'number': 27863,
  'title': 'DataFrame Groupby Named Aggregation Using Lambda Results in a KeyError, Dict-of-Dicts Approach Works Fine',
  'user': {'login': 'tbarket',
   'id': 54013474,
   'node_id': 'MDQ6VXNlcjU0MDEzNDc0',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/54013474?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/tbarket',
   'html_url': 'https://github.com/tbarket',
   'followers_url': 'https://api.github.com/users/tbarket/followers',
   'following_url': 'https://api.github.com/users/tbarket/following{/other_user}',
   'gists_url': 'https://api.github.com/users/tbarket/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/tbarket/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/tbarket/subscriptions',
   'organizations_url': 'https://api.github.com/users/tbarket/orgs',
   'repos_url': 'https://api.github.com/users/tbarket/repos',
   'events_url': 'https://api.github.com/users/tbarket/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/tbarket/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-08-12T04:40:32Z',
  'updated_at': '2019-08-12T04:40:32Z',
  'closed_at': None,
  'author_association': 'NONE',
  'body': "#### Code Sample, a copy-pastable example if possible\r\n\r\n```python\r\nimport numpy as np\r\nimport pandas as pd\r\ndata = [['tom', 10, 'blue', 1000, 'a'], ['nick', 15, 'blue', 2000, 'b'], ['julie', 14, 'green', 3000, 'a'], ['bob', 11, 'green', 4000, 'a'], ['cindy', 16, 'red', 5000, 'b']]\r\ndf = pd.DataFrame(data, columns = ['Name', 'Age', 'Color', 'Num', 'Letter'])\r\n\r\n# Dict-style renaming works fine:\r\ndf.groupby(by='Color').agg({'Num': {'SumNum'  : np.sum, 'SumNumIfLetterA': lambda x: x[df.iloc[x.index].Letter=='a'].sum()}})\r\n\r\nOut[2]: \r\n         Num                \r\n      SumNum SumNumIfLetterA\r\nColor                       \r\nblue    3000            1000\r\ngreen   7000            7000\r\nred     5000               0\r\n\r\n# Named Aggregation using function also works fine:\r\ndef simplefunc(x):\r\n    return x[df.iloc[x.index].Letter=='a'].sum()\r\ndf.groupby(by='Color').agg(SumNum = ('Num', np.sum), SumNumIfLetterA = ('Num', simplefunc))\r\n\r\nOut[3]: \r\n       SumNum  SumNumIfLetterA\r\nColor                         \r\nblue     3000             1000\r\ngreen    7000             7000\r\nred      5000                0\r\n\r\n# Named Aggregation using identical lambda throws a KeyError:\r\ndf.groupby(by='Color').agg(SumNum = ('Num', np.sum), SumNumIfLetterA = ('Num', lambda x: x[df.iloc[x.index].Letter=='a'].sum()))\r\n\r\n```\r\n#### Problem description\r\n\r\nA lambda function that previously worked fine (using a Dict-of-Dict) no longer works with Named Aggregation.  Using a function with Named Aggregation works fine but replacing the function with an identical lambda does not work with Named Aggregation.  Is this expected behavior or it is a bug?\r\n\r\n#### Expected Output\r\n~~~\r\n       SumNum  SumNumIfLetterA\r\nColor                         \r\nblue     3000             1000\r\ngreen    7000             7000\r\nred      5000                0\r\n~~~\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit           : None\r\npython           : 3.7.4.final.0\r\npython-bits      : 64\r\nOS               : Windows\r\nOS-release       : 10\r\nmachine          : AMD64\r\nprocessor        : Intel64 Family 6 Model 158 Stepping 9, GenuineIntel\r\nbyteorder        : little\r\nLC_ALL           : None\r\nLANG             : None\r\nLOCALE           : None.None\r\n\r\npandas           : 0.25.0\r\nnumpy            : 1.16.4\r\npytz             : 2019.1\r\ndateutil         : 2.8.0\r\npip              : 19.1.1\r\nsetuptools       : 41.0.1\r\nCython           : 0.29.12\r\npytest           : 5.0.1\r\nhypothesis       : None\r\nsphinx           : 2.1.2\r\nblosc            : None\r\nfeather          : None\r\nxlsxwriter       : 1.1.8\r\nlxml.etree       : 4.3.4\r\nhtml5lib         : 1.0.1\r\npymysql          : None\r\npsycopg2         : None\r\njinja2           : 2.10.1\r\nIPython          : 7.7.0\r\npandas_datareader: None\r\nbs4              : 4.7.1\r\nbottleneck       : 1.2.1\r\nfastparquet      : None\r\ngcsfs            : None\r\nlxml.etree       : 4.3.4\r\nmatplotlib       : 3.1.0\r\nnumexpr          : 2.6.9\r\nodfpy            : None\r\nopenpyxl         : 2.6.2\r\npandas_gbq       : None\r\npyarrow          : None\r\npytables         : None\r\ns3fs             : None\r\nscipy            : 1.3.0\r\nsqlalchemy       : 1.3.5\r\ntables           : 3.5.2\r\nxarray           : None\r\nxlrd             : 1.2.0\r\nxlwt             : 1.3.0\r\nxlsxwriter       : 1.1.8\r\n</details>\r\n"},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27862',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27862/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27862/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27862/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/27862',
  'id': 479425525,
  'node_id': 'MDU6SXNzdWU0Nzk0MjU1MjU=',
  'number': 27862,
  'title': 'See also for DataFrame.iterrows() should say Dataframe.x() instead of just .x()',
  'user': {'login': 'bthayer2365',
   'id': 6099299,
   'node_id': 'MDQ6VXNlcjYwOTkyOTk=',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/6099299?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/bthayer2365',
   'html_url': 'https://github.com/bthayer2365',
   'followers_url': 'https://api.github.com/users/bthayer2365/followers',
   'following_url': 'https://api.github.com/users/bthayer2365/following{/other_user}',
   'gists_url': 'https://api.github.com/users/bthayer2365/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/bthayer2365/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/bthayer2365/subscriptions',
   'organizations_url': 'https://api.github.com/users/bthayer2365/orgs',
   'repos_url': 'https://api.github.com/users/bthayer2365/repos',
   'events_url': 'https://api.github.com/users/bthayer2365/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/bthayer2365/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-08-11T23:14:43Z',
  'updated_at': '2019-08-11T23:14:43Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'body': 'See also for DataFrame.iterrows() currently has a "See also" section that lists\r\n```\r\nitertuples\r\nitems\r\n```\r\nwhile DataFrame.itertuples() shows\r\n```\r\nDataFrame.iterrows\r\nDataFrame.items\r\n```\r\nWe should change DataFrame.iterrows() to be like DataFrame.itertuples()\r\n\r\nhttps://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iterrows.html\r\nhttps://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.itertuples.html'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27861',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27861/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27861/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27861/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/27861',
  'id': 479424828,
  'node_id': 'MDU6SXNzdWU0Nzk0MjQ4Mjg=',
  'number': 27861,
  'title': 'Standardize use of "Iterate" and "Iterator" in the documentation for DataFrame and Series iterators',
  'user': {'login': 'bthayer2365',
   'id': 6099299,
   'node_id': 'MDQ6VXNlcjYwOTkyOTk=',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/6099299?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/bthayer2365',
   'html_url': 'https://github.com/bthayer2365',
   'followers_url': 'https://api.github.com/users/bthayer2365/followers',
   'following_url': 'https://api.github.com/users/bthayer2365/following{/other_user}',
   'gists_url': 'https://api.github.com/users/bthayer2365/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/bthayer2365/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/bthayer2365/subscriptions',
   'organizations_url': 'https://api.github.com/users/bthayer2365/orgs',
   'repos_url': 'https://api.github.com/users/bthayer2365/repos',
   'events_url': 'https://api.github.com/users/bthayer2365/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/bthayer2365/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-08-11T23:05:36Z',
  'updated_at': '2019-08-11T23:05:36Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'body': 'Documentation for `DataFrame.items()` and `DataFrame.iteritems()` say \r\n"Iterator over..."\r\nwhile other iterators for `DataFrame` and `Series` say\r\n"Iterate over..."\r\n\r\nAll of these methods return an iterator, so I think it would make sense to have them all say "Iterator over...", although the documentation for 4/6 of the iteration methods already use "Iterate over...".\r\n\r\nI\'m not sure if there are other methods that also create iterators that we can use to justify one over the other.\r\n\r\nhttps://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.items.html\r\nhttps://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iteritems.html\r\nhttps://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iterrows.html\r\nhttps://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.itertuples.html\r\nhttps://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.items.html\r\nhttps://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.iteritems.html'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27860',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27860/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27860/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27860/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/27860',
  'id': 479423548,
  'node_id': 'MDU6SXNzdWU0Nzk0MjM1NDg=',
  'number': 27860,
  'title': 'Use of "Yields" vs "Returns" for documentation of DataFrame.items() and DataFrame.iteritems() ',
  'user': {'login': 'bthayer2365',
   'id': 6099299,
   'node_id': 'MDQ6VXNlcjYwOTkyOTk=',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/6099299?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/bthayer2365',
   'html_url': 'https://github.com/bthayer2365',
   'followers_url': 'https://api.github.com/users/bthayer2365/followers',
   'following_url': 'https://api.github.com/users/bthayer2365/following{/other_user}',
   'gists_url': 'https://api.github.com/users/bthayer2365/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/bthayer2365/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/bthayer2365/subscriptions',
   'organizations_url': 'https://api.github.com/users/bthayer2365/orgs',
   'repos_url': 'https://api.github.com/users/bthayer2365/repos',
   'events_url': 'https://api.github.com/users/bthayer2365/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/bthayer2365/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2019-08-11T22:51:46Z',
  'updated_at': '2019-08-11T23:57:41Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'body': '`DataFrame.items()` says it "Yields" the label and content of the columns whereas `DataFrame.iteritems()` says it "Returns" the label and content of the columns\r\n\r\nhttps://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.items.html\r\nhttps://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iteritems.html'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27859',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27859/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27859/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27859/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/27859',
  'id': 479422998,
  'node_id': 'MDU6SXNzdWU0Nzk0MjI5OTg=',
  'number': 27859,
  'title': "Documentation says Series.items(), Series.iteritems() are equivalent to DataFrame.items(), but they're not.",
  'user': {'login': 'bthayer2365',
   'id': 6099299,
   'node_id': 'MDQ6VXNlcjYwOTkyOTk=',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/6099299?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/bthayer2365',
   'html_url': 'https://github.com/bthayer2365',
   'followers_url': 'https://api.github.com/users/bthayer2365/followers',
   'following_url': 'https://api.github.com/users/bthayer2365/following{/other_user}',
   'gists_url': 'https://api.github.com/users/bthayer2365/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/bthayer2365/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/bthayer2365/subscriptions',
   'organizations_url': 'https://api.github.com/users/bthayer2365/orgs',
   'repos_url': 'https://api.github.com/users/bthayer2365/repos',
   'events_url': 'https://api.github.com/users/bthayer2365/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/bthayer2365/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-08-11T22:48:04Z',
  'updated_at': '2019-08-11T22:48:04Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'body': "Documentation says `Series.items()`, `Series.iteritems()` are equivalent to `DataFrame.items()` for DataFrames, but they're not. Instead, they are equivalent to `DataFrame.iterrows()`\r\n\r\nhttps://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.items.html\r\n\r\nhttps://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.iteritems.html\r\n\r\nhttps://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.items.html\r\n\r\nhttps://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iterrows.html"},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27858',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27858/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27858/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27858/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/27858',
  'id': 479378784,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzA2Mjg2NjMw',
  'number': 27858,
  'title': 'BUG: DataFrameGroupBy.transform does not work with cumcount',
  'user': {'login': 'charlesdong1991',
   'id': 9269816,
   'node_id': 'MDQ6VXNlcjkyNjk4MTY=',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/9269816?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/charlesdong1991',
   'html_url': 'https://github.com/charlesdong1991',
   'followers_url': 'https://api.github.com/users/charlesdong1991/followers',
   'following_url': 'https://api.github.com/users/charlesdong1991/following{/other_user}',
   'gists_url': 'https://api.github.com/users/charlesdong1991/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/charlesdong1991/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/charlesdong1991/subscriptions',
   'organizations_url': 'https://api.github.com/users/charlesdong1991/orgs',
   'repos_url': 'https://api.github.com/users/charlesdong1991/repos',
   'events_url': 'https://api.github.com/users/charlesdong1991/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/charlesdong1991/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-08-11T15:01:39Z',
  'updated_at': '2019-08-11T16:44:51Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/27858',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/27858',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/27858.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/27858.patch'},
  'body': '- [ ] closes #27472 \r\n- [ ] tests added / passed\r\n- [ ] passes `black pandas`\r\n- [ ] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n- [ ] whatsnew entry\r\n'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27857',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27857/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27857/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27857/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/27857',
  'id': 479377495,
  'node_id': 'MDU6SXNzdWU0NzkzNzc0OTU=',
  'number': 27857,
  'title': 'Pandas groupby transform count gives empty dataframe',
  'user': {'login': 'bhishanpdl',
   'id': 13811914,
   'node_id': 'MDQ6VXNlcjEzODExOTE0',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/13811914?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/bhishanpdl',
   'html_url': 'https://github.com/bhishanpdl',
   'followers_url': 'https://api.github.com/users/bhishanpdl/followers',
   'following_url': 'https://api.github.com/users/bhishanpdl/following{/other_user}',
   'gists_url': 'https://api.github.com/users/bhishanpdl/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/bhishanpdl/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/bhishanpdl/subscriptions',
   'organizations_url': 'https://api.github.com/users/bhishanpdl/orgs',
   'repos_url': 'https://api.github.com/users/bhishanpdl/repos',
   'events_url': 'https://api.github.com/users/bhishanpdl/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/bhishanpdl/received_events',
   'type': 'User',

In [178]:
issues = pd.DataFrame(data, columns=['number', 'title',
.....: 'labels', 'state'])
issues

,number,title,labels,state
0,27863,DataFrame Groupby Named Aggregation Using Lamb...,[],open
1,27862,See also for DataFrame.iterrows() should say D...,[],open
2,27861,"Standardize use of ""Iterate"" and ""Iterator"" in...",[],open
3,27860,"Use of ""Yields"" vs ""Returns"" for documentation...",[],open
4,27859,"Documentation says Series.items(), Series.iter...",[],open
...,...,...,...,...
25,27826,BUG: Fix groupby quantile segfault,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
26,27825,Dispatch pd.is_na for scalar extension value,"[{'id': 849023693, 'node_id': 'MDU6TGFiZWw4NDk...",open
27,27824,Document DataFrame._constructor_sliced-like pr...,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
28,27820,DOC: clarify that read_parquet accepts a direc...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
29,27817,Conversion from Arrow to datetime not working ...,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open

In [193]:
import sqlite3
query = """CREATE TABLE test (a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER);"""
con = sqlite3.connect('mydata.sqlite')

In [195]:
 con.commit()

In [196]:
data = [('Atlanta', 'Georgia', 1.25, 6),
.....: ('Tallahassee', 'Florida', 2.6, 3),
.....: ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)

In [197]:
con.commit()

In [204]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [199]:
 cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [200]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [201]:
pd.DataFrame(rows)

             0           1     2  3
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [202]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5